#leafletmap {
    width: 800px;  /* feel free to change this! */
    height: 600px; /* feel free to change this! */
}

td{
    text-align: center;
} 

.violent {
    background-color: red;
}

.property {
    background-color: #cd7f32;
}

.other {
    background-color: #00C853;
}