#leafletmap {
    width: 52em;  /* feel free to change this! */
    height: 40em; /* feel free to change this! */
}
td{
    text-align: center;
}
#pageheader{
    background-color: black;
    padding-top: 2em;
    padding-bottom: 2em;
    color: azure;
}
#pagelink{
    color: rgb(228, 228, 228);
    font-size: 1.5em;

} 
.violent {
    background-color: red;
}

.property {
    background-color: #cd7f32;
}

.other {
    background-color: #00C853;
}